<div class="content has-text-centered">
    <p>
        <a href="/policies/privacy"
           title="Online radio search privacy policy"
        >
              <span class="icon">
                   <i class="fas fa-user-secret"></i>
              </span>Privacy Policy</a>
        |
        <a href="https://www.facebook.com/onlineradiosearch" target="_blank"
           title="Online radio search on Facebook"
        >
              <span class="icon">
                   <i class="fab fa-facebook-f"></i>
              </span>Contact Us!</a>
    </p>
    <p>© 2020 OnlineRadioSearch.com. All rights reserved</p>
</div>