<script defer
        src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
        type="application/javascript"></script>
<script defer
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        type="application/javascript"></script>
<script defer
        src="/js/common.js"
        type="application/javascript"></script>

<script defer type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.0.0/cookie-consent.js"></script>
<script defer type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({
            "notice_banner_type": "interstitial",
            "consent_type": "express",
            "palette": "light",
            "language": "en",
            "website_name": "OnlineRadioSearch.com",
            "cookies_policy_url": "/policies/privacy"
        });
    });
</script>

<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/cookie-consent/">Cookie Consent by TermsFeed</a>
</noscript>
