<div class="content has-text-centered">
    <h1>Latest searches</h1>
    <p>
        {{ #commonLatestSearches }}
        {{ #queries }}
        {{#songType}}
            <a href="/search/by-song/{{seoQuery}}">{{query}}</a>
        {{/songType}}
        {{#genreType}}
            <a href="/search/by-genre/{{seoQuery}}">{{query}}</a>
        {{/genreType}}
        {{#radioStationType}}
            <a href="/search/by-radio-station/{{seoQuery}}">{{query}}</a>
        {{/radioStationType}}
        {{ /queries }}
        {{ /commonLatestSearches }}
    </p>
</div>