.navbar span.navbar-item button {
    margin-left: 5px;
}

#navbar-search form {
    margin-left: 5px;
    margin-right: 5px;
}

#radio-station-songs-table td.custom-title {
    word-break: break-all;
}

.privacy-text h3, .privacy-text h4 {
    margin-top: 1em;
}

.privacy-text p {
    margin-top: 0.5em;
}

a.is-white-link {
    color: #FFFFFF;
}

a.is-white-link:hover {
    color: #3273dc;
}