{{#disqus}}
    {{#enabled}}
        <section class="section" style="padding: 0rem 1.5rem">
            <div class="container">
                  <div id="disqus_thread"></div>
                  <script>
                  var disqus_config = function () {
                  this.page.url = '{{urlPrefix}}/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}';
                  this.page.identifier = '{{radioStation.id}}';
                  };
                  </script>
            </div>
        </section>
    {{/enabled}}
{{/disqus}}


