{{>components/header}}

{{>components/navbar/index}}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            {{#radioStation}}
                <h1 class="title">{{title}}
                    {{#hasGenres}}
                        -
                        {{#genres}}
                            <a class="is-white-link"
                               href="/search/by-genre/{{seoTitle}}"
                               title="Search radio station by genre {{title}}"><i>{{title}}</i></a>
                        {{/genres}}
                    {{/hasGenres}}
                </h1>
                {{#website}} <h2 class="subtitle"><a href="{{.}}" target="_blank">{{.}}</a></h2>{{/website}}

            {{/radioStation}}
        </div>
    </div>
</section>

{{#googleAds}}
    {{#enabled}}
        {{#radioStationTopEnabled}}
            <section class="section">
                <div class="container">
                    <div>
                        {{>components/ads}}
                    </div>
                </div>
            </section>
        {{/radioStationTopEnabled}}
    {{/enabled}}
{{/googleAds}}

{{>radio-station/streams}}

{{#googleAds}}
    {{#enabled}}
        {{#radioStationDownEnabled}}
            <section class="section">
                <div class="container">
                    <div>
                        {{>components/ads}}
                    </div>
                </div>
            </section>
        {{/radioStationDownEnabled}}
    {{/enabled}}
{{/googleAds}}

{{>radio-station/played-songs}}

{{>radio-station/discus}}

{{>components/footer}}
