{{>components/header}}

{{>components/navbar/index}}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            {{#radioStation}}
                <h1 class="title">{{title}}
                    {{#hasGenres}}
                        -
                        {{#genres}}
                            <a class="is-white-link"
                               href="/search/by-genre/{{seoTitle}}"
                               title="Search radio station by genre {{title}}"><i>{{title}}</i></a>
                        {{/genres}}
                    {{/hasGenres}}
                </h1>
                {{#website}} <h2 class="subtitle"><a href="{{.}}" target="_blank">{{.}}</a></h2>{{/website}}

            {{/radioStation}}
        </div>
    </div>
</section>

{{>radio-station/streams}}

{{>radio-station/played-songs}}

{{>components/footer}}
