<section class="section">
    <div class="container">
        <h2 class="title">Played songs</h2>
        {{#radioStationSongs}}
            {{#hasContent}}
                <div class="table-container" id="radio-station-songs-table">
                    <table class="table is-fullwidth">
                        <thead class="is-hidden-mobile">
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Played time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#content}}
                            <tr>
                                <td class="is-hidden-mobile">
                                    {{id}}
                                </td>
                                <td class="custom-title">
                                    <a href="/radio-stations/by-played-song/{{seoTitle}}/{{songId}}"
                                       title="Show all radio station by played song `{{title}}`">{{title}}</a>
                                </td>
                                <td class="is-hidden-mobile">{{playedTimeAsString}}</td>
                            </tr>
                        {{/content}}
                        </tbody>
                    </table>
                </div>
                {{#metadata.navigationPossible}}
                    <nav class="pagination is-rounded" role="navigation" aria-label="pagination"
                         style="padding-top: 20px">
                        {{#metadata.hasPrevious}}
                            <a href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}?page={{metadata.previousPage}}
                            "
                            class="pagination-previous">Previous</a>
                        {{/metadata.hasPrevious}}
                        {{^metadata.hasPrevious}}
                            <a class="pagination-previous" disabled>Previous</a>
                        {{/metadata.hasPrevious}}

                        {{#metadata.hasNext}}
                            <a href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}?page={{metadata.nextPage}}
                            "
                            class="pagination-next">Next page</a>
                        {{/metadata.hasNext}}
                        {{^metadata.hasNext}}
                            <a class="pagination-next" disabled>Next page</a>
                        {{/metadata.hasNext}}
                    </nav>
                {{/metadata.navigationPossible}}
            {{/hasContent}}
            {{^hasContent}}
                <p class="has-text-centered">No last played songs found for radio station "{{radioStation.title}}"</p>
            {{/hasContent}}
        {{/radioStationSongs}}
    </div>
</section>
