<section class="section">
    <div class="container">
        <h2 class="title">Streams</h2>
        {{#radioStationStreams}}
            {{#hasContent}}
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead class="is-hidden-mobile">
                        <tr>
                            <th>Player</th>
                            <th>Download</th>
                            <th>URL</th>
                            <th>Bit Rate</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#content}}
                            <tr>
                                <td style="text-align: center">
                                    {{#secureUrl}}
                                        <audio controls>
                                            <source src="{{ url }}" type="audio/ogg">
                                            <source src="{{ url }}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    {{/secureUrl}}
                                    {{^secureUrl}}
                                        <div class="modal" id="play-stream-modal-{{id}}">
                                            <div class="modal-background"></div>
                                            <div class="modal-card">
                                                <header class="modal-card-head">
                                                    <p class="modal-card-title">Information</p>
                                                    <button class="delete" aria-label="close"></button>
                                                </header>
                                                <section class="modal-card-body">
                                                    <p>Url <i style="word-break: break-all">"{{url}}"</i> <strong> cannot be played on our site</strong>.</p>
                                                    <br/>
                                                    <p>Please select <b>"Play"</b> button to play in separate Window/Tab
                                                        {{#mobileApp}}or <a alt="Online Radio Search Anroid App" target="_blank" href="{{link}}">Download
                                                            App</a>{{/mobileApp}}</p>
                                                </section>
                                                <footer class="modal-card-foot">
                                                    <a class="button is-primary"
                                                       target="_blank"
                                                       href="{{url}}">Play!
                                                    </a>
                                                    <a class="button"
                                                       target="_blank"
                                                       href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}/streams/{{id}}/pls">Download
                                                        .pls</a>
                                                </footer>
                                            </div>
                                        </div>
                                        <button class="button is-success" modal-target="#play-stream-modal-{{id}}">
                                            Play
                                        </button>
                                    {{/secureUrl}}
                                </td>
                                <td class="is-hidden-mobile">
                                    <a class="button is-link"
                                       target="_blank"
                                       href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}/streams/{{id}}/pls">Download
                                        .pls</a>
                                </td>
                                <td class="is-hidden-mobile">
                                    <a href="{{url}}" title="Link to {{url}}" target="_blank">{{url}}</a>
                                </td>
                                <td class="is-hidden-mobile">{{bitRate}}</td>
                                <td class="is-hidden-mobile">{{type}}</td>
                            </tr>
                        {{/content}}
                        </tbody>
                    </table>
                </div>
            {{/hasContent}}
            {{^hasContent}}
                <p class="has-text-centered">No streams found for radio station "{{radioStation.title}}"</p>
            {{/hasContent}}
        {{/radioStationStreams}}
    </div>
</section>